[submodule "projects/multilatex"]
	path = projects/multilatex
	url = https://github.com/paul-nechifor/multilatex
[submodule "projects/tt"]
	path = projects/tt
	url = https://github.com/paul-nechifor/tt
[submodule "projects/negura"]
	path = projects/negura
	url = https://github.com/paul-nechifor/negura
[submodule "projects/coma"]
	path = projects/coma
	url = https://github.com/paul-nechifor/coma
[submodule "projects/dnssec-toy"]
	path = projects/dnssec-toy
	url = https://github.com/paul-nechifor/dnssec-toy
[submodule "projects/reddit-cloud"]
	path = projects/reddit-cloud
	url = https://github.com/paul-nechifor/reddit-cloud
[submodule "projects/poshex"]
	path = projects/poshex
	url = https://github.com/paul-nechifor/poshex
[submodule "projects/fus-talk"]
	path = projects/fus-talk
	url = https://github.com/paul-nechifor/fus-talk
[submodule "projects/pp2p"]
	path = projects/pp2p
	url = https://github.com/paul-nechifor/pp2p
[submodule "projects/romsun"]
	path = projects/romsun
	url = https://github.com/paul-nechifor/romsun
[submodule "projects/jpeg-enricher"]
	path = projects/jpeg-enricher
	url = https://github.com/paul-nechifor/jpeg-enricher
[submodule "projects/kmpress"]
	path = projects/kmpress
	url = https://github.com/paul-nechifor/kmpress
[submodule "projects/facetrain"]
	path = projects/facetrain
	url = https://github.com/paul-nechifor/facetrain
[submodule "projects/horoscop"]
	path = projects/horoscop
	url = https://github.com/paul-nechifor/horoscop
[submodule "projects/chess-puzzles"]
	path = projects/chess-puzzles
	url = https://github.com/paul-nechifor/chess-puzzles
[submodule "projects/crrifc"]
	path = projects/crrifc
	url = https://github.com/paul-nechifor/crrifc
[submodule "projects/magic-square"]
	path = projects/magic-square
	url = https://github.com/paul-nechifor/magic-square
[submodule "projects/space-hoarder"]
	path = projects/space-hoarder
	url = https://github.com/paul-nechifor/space-hoarder
[submodule "projects/vagrant-hadoop-cluster"]
	path = projects/vagrant-hadoop-cluster
	url = https://github.com/paul-nechifor/vagrant-hadoop-cluster
[submodule "projects/identitate-falsa"]
	path = projects/identitate-falsa
	url = https://github.com/paul-nechifor/identitate-falsa
[submodule "projects/circuits"]
	path = projects/circuits
	url = https://github.com/paul-nechifor/circuits
[submodule "projects/makawa"]
	path = projects/makawa
	url = https://github.com/paul-nechifor/makawa
[submodule "projects/pseudoromanian"]
	path = projects/pseudoromanian
	url = https://github.com/paul-nechifor/pseudoromanian
[submodule "projects/xslt-blog"]
	path = projects/xslt-blog
	url = https://github.com/paul-nechifor/xslt-blog
[submodule "projects/sibf"]
	path = projects/sibf
	url = https://github.com/paul-nechifor/sibf
[submodule "projects/sidrem"]
	path = projects/sidrem
	url = https://github.com/paul-nechifor/sidrem
[submodule "projects/torus-cycle"]
	path = projects/torus-cycle
	url = https://github.com/paul-nechifor/torus-cycle
[submodule "projects/auto-doge"]
	path = projects/auto-doge
	url = https://github.com/paul-nechifor/auto-doge
[submodule "projects/check-your-privilege"]
	path = projects/check-your-privilege
	url = https://github.com/paul-nechifor/check-your-privilege
[submodule "projects/college-website"]
	path = projects/college-website
	url = https://github.com/paul-nechifor/college-website
[submodule "projects/college-website-2"]
	path = projects/college-website-2
	url = https://github.com/paul-nechifor/college-website-2
[submodule "projects/1930"]
	path = projects/1930
	url = https://github.com/paul-nechifor/1930
[submodule "projects/fenrir-chat"]
	path = projects/fenrir-chat
	url = https://github.com/paul-nechifor/fenrir-chat
[submodule "projects/git-visualization"]
	path = projects/git-visualization
	url = https://github.com/paul-nechifor/git-visualization
[submodule "projects/go-concurrency"]
	path = projects/go-concurrency
	url = https://github.com/paul-nechifor/go-concurrency
[submodule "projects/italia-fascista"]
	path = projects/italia-fascista
	url = https://github.com/paul-nechifor/italia-fascista
[submodule "projects/meet-firefox"]
	path = projects/meet-firefox
	url = https://github.com/paul-nechifor/meet-firefox
[submodule "projects/paul-scripts"]
	path = projects/paul-scripts
	url = https://github.com/paul-nechifor/paul-scripts
[submodule "projects/resolvents"]
	path = projects/resolvents
	url = https://github.com/paul-nechifor/resolvents
[submodule "projects/rstsd"]
	path = projects/rstsd
	url = https://github.com/paul-nechifor/rstsd
[submodule "projects/timr"]
	path = projects/timr
	url = https://github.com/paul-nechifor/timr
[submodule "projects/minimul"]
	path = projects/minimul
	url = https://github.com/paul-nechifor/minimul
[submodule "projects/minimul-machine"]
	path = projects/minimul-machine
	url = https://github.com/paul-nechifor/minimul-machine
[submodule "projects/multilatex-dissertation"]
	path = projects/multilatex-dissertation
	url = https://github.com/paul-nechifor/multilatex-dissertation
[submodule "projects/cv-info"]
	path = projects/cv-info
	url = https://github.com/paul-nechifor/cv-info
[submodule "projects/linux-cli-tips"]
	path = projects/linux-cli-tips
	url = https://github.com/paul-nechifor/linux-cli-tips
[submodule "projects/pnstat"]
	path = projects/pnstat
	url = https://github.com/paul-nechifor/pnstat
[submodule "projects/cat-finder"]
	path = projects/cat-finder
	url = https://github.com/paul-nechifor/cat-finder
[submodule "projects/nechifor-index"]
	path = projects/nechifor-index
	url = https://github.com/paul-nechifor/nechifor-index
[submodule "projects/dotfiles"]
	path = projects/dotfiles
	url = https://github.com/paul-nechifor/dotfiles
[submodule "projects/cv"]
	path = projects/cv
	url = https://github.com/paul-nechifor/cv
[submodule "projects/nechifor-site"]
	path = projects/nechifor-site
	url = https://github.com/paul-nechifor/nechifor-site
[submodule "projects/nechifor-blog"]
	path = projects/nechifor-blog
	url = https://github.com/paul-nechifor/nechifor-blog
