// Reset
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video
  margin 0
  padding 0
  border 0
  font-size 100%
  font inherit
  vertical-align baseline
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav,
section
  display block
body
  line-height 1
ol, ul
  list-style none
blockquote, q
  quotes none
blockquote:before, blockquote:after, q:before, q:after
  content ''
  content none
table
  border-collapse collapse
  border-spacing 0

// General
body
  font-family 'Open Sans'
  font-weight 400
  color #333
  cursor default
a
  text-decoration none
  color #37AD8E
  cursor pointer
  &.internal
    position relative
    top -100px
em
  font-style italic
strong
  font-weight 700
p, li, td
  font-size 20px
  font-weight 300
  line-height 1.4
  margin-bottom 10px
.btn
  font-size 18px
  font-weight 400
  padding 10px 30px
  text-transform uppercase
  background-color #666
  cursor pointer
  color #FFF
  display inline-block
  border-radius 3px
  -webkit-border-radius 3px
  -moz-border-radius 3px
  &:hover
    background-color #555
  &.primary
    background-color #37AD8E
    &:hover
      background-color #28816A
.container, table
  width 800px
  margin 0 auto
nav
  background-color #323A40
  color #eee
  position fixed
  width 100%
  .container
    position relative
  a
    display block
    height 60px
    line-height 60px
    color #eee
    text-transform uppercase
    font-weight 700
    cursor pointer
    &:hover
      color #37AD8E
  ul
    position absolute
    right 0
    top 0
    background-color #323A40
  li
    display inline-block
    font-size 14px
    margin-right 20px
    margin-bottom 0
    &:last-child
      margin-right 0
  h2
    font-size 20px
section
  padding 50px 0 50px 0
  &:nth-child(2n)
    background-color #eee
  h2
    text-transform uppercase
    font-size 28px
    font-weight 700
    margin-bottom 40px
    text-align center
    color #323A40
  ul
    list-style square
.title
  margin-bottom 60px
  h1
    font-size 60px
    font-weight 700
    text-align center
    text-transform uppercase
    margin-bottom 14px
    color #FFF
  h2
    font-size 28px
    font-weight 300
    text-align center
    text-transform lowercase
#description
  padding-top 110px
  background-image url('../cover.jpg')
  background-color #323A40
  background-position center top
  background-repeat no-repeat
  p
    font-weight 400
  .container
    display table
  .row
    display table-row
#description p, #description h1, #description h2
  color #FFF
#description .row .left, #description .row .right
  display table-cell
  vertical-align middle
.container
  .left
    width 250px
  .right
    width 550px
    text-align left
.portrait
  background-image url('../portret.jpg')
  background-repeat no-repeat
  width 200px
  height 200px
  border 10px solid #fff
  border-radius 120px
  -webkit-border-radius 120px
  -moz-border-radius 120px
  background-size 200px 200px
  img
    display none
#quick-contact
  margin-top 10px
  font-size 20px
  li
    display inline-block
    a
      display block
      color #FFF
      width 28px
      height 28px
      text-align center
      &:hover
        border-radius 4px
        -webkit-border-radius 4px
        -moz-border-radius 4px
        background-color #28816A
  .hidden
    display none
.clear
  clear both

#s-projects
  .buttons
    text-align center
    .btn
      width 300px
      text-align center
  .project
    display row
    margin-bottom 40px
    width 360px
    height 318px
    float left
    img
      width 100%
      margin 12px 0 10px
    h3
      font-size 24px
      font-weight bold
      .links a
        display block
        float right
  @media (min-width: 800px)
    .project
      margin 0 20px
    .projects
      width 800px
      margin 0 auto
  @media (min-width: 1200px)
    .projects
      width 1200px
  @media (min-width: 1600px)
    .projects
      width 1600px

@media only screen and (max-width: 767px)
  .projects
    width 100%
  .project
    margin-bottom 40px
    width 100%
    float none
    &:last-child
      margin-left 0
  .project h3, .project p
    padding-left 10px
    padding-right 10px

/* Contact */
.contact-icons
  margin 0
  text-align center
  width 360px
  margin 0 auto
  li
    display block
    margin 0
    float left
    a
      display block
      font-size 30px
      width 70px
      height 70px
      margin 10px
      line-height 70px
      text-align center
      background-color #666
      border-radius 3px
      -webkit-border-radius 3px
      -moz-border-radius 3px
  .lesser li a
    font-size 20px
    width 40px
    height 40px
    margin 10px
    line-height 40px
  a
    color #FFF
  a:hover
    background-color #323A40
    color #37AD8E
  span
    display none

footer
  background-color #323A40
  color #eee
  text-align center
  padding 18px 0
  clear both
  p
    margin-bottom 0
    font-size 14px

#map-location
  padding 0
#map-canvas
  height 600px

/* Devices with big screens. */
@media only screen and (min-width: 768px)
  .all-menu .activate
    display none

/* NOT Devices with big screens. */
@media only screen and (max-width: 767px)
  nav
    li
      display block
      font-size 14px
      margin 0
      font-size 18px
      a
        height 30px
        line-height 30px
        padding 10px 30px
      &:last-child
        a
          padding-bottom 20px
    ul
      margin 60px 0 0 0
  #nav-links
    display none
  .all-menu
    position absolute
    top 0
    right 0
    .activate
      font-size 30px
      text-align right
      line-height 60px
      height 60px
      padding 0 10px
    &:hover
      #nav-links
        display block
  section
    padding 30px 0 30px 0
    h2
      margin-bottom 20px
  #description
    padding-top 90px
    .container
      display block
    .row
      display block
      .right
        width auto
        margin-top 20px
  .title
    margin-bottom 40px
  #description .row .left, #description .row .right
    display block
    margin 0 auto
  .container, table
    width auto
    padding 0 10px
  .container .left, .container .right
    width 100%
  .portrait
    margin 0 auto

@media only screen and (max-width: 479px)
  p, li, td
    font-size 16px
  #quick-contact  a
    font-size 20px
  #expand-quick-contact  a
    display inline-block
    width 20px
