// Varibles

foreground-color = #000
background-color = #fff
contact-box-size = 50px
contact-box-font-size = 36px

// Reset
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video
  margin 0
  padding 0
  border 0
  font-size 100%
  font inherit
  vertical-align baseline
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav,
section
  display block
body
  line-height 1
ol, ul
  list-style none
blockquote, q
  quotes none
blockquote:before, blockquote:after, q:before, q:after
  content ''
  content none
table
  border-collapse collapse
  border-spacing 0

body
  font-family 'TeX Gyre Heros', 'Open Sans'
  font-weight bold
  color foreground-color
  cursor default
a
  text-decoration none
  color foreground-color
  cursor pointer
  &:hover
    color #888
a.internal
  position absolute
  top 0
em
  font-style italic
strong
  font-weight bold
p, li, td
  font-size 20px
  font-weight bold
  line-height 1.4
  margin-bottom 10px
  @media (max-width: 479px)
    font-size 18px
.clear
  clear both
.container, table
  width 800px
  margin 0 auto
  @media (max-width: 767px)
    width auto
    padding 0 10px
    .left, .right
      width 100%
section
  position relative
  padding 50px 0 50px 0
  @media (max-width: 767px)
    padding 30px 0 30px 0
  &:nth-child(2n+1)
    background-color #eee
  h2
    text-transform uppercase
    font-size 28px
    font-weight bold
    margin-bottom 40px
    @media (max-width: 767px)
      margin-bottom 20px
    text-align center
  ul
    list-style square
    padding-left 21px
.title
  margin-bottom 60px
  @media (max-width: 767px)
    margin-bottom 40px
  h1
    font-size 60px
    font-weight bold
    text-align center
    text-transform uppercase
    color #fff
    margin 30px 0 40px
  h2
    font-size 28px
    font-weight bold
    text-align center

#description
  padding 0
  background-color #fff
  h1 a, h2
    color foreground-color
  h2
  .container
    text-align center
#quick-contact
  .hidden
    display none
  li
    display inline-block
    margin 0
  a
    color #999
    &:hover
      color #666
  a, i
    display block
    font-size contact-box-font-size
    text-align center
    line-height contact-box-size
  li, a, i, i:before
    height contact-box-size
    width contact-box-size
    margin 0
@media (max-width: 479px)
  #expand-quick-contact  a
    display inline-block
    width 20px

#s-projects
  h3
    text-transform uppercase
  .project
    display row
    margin-bottom 40px
    width 360px
    height 318px
    float left
    p
      color #888
    img
      width 100%
      margin 12px 0 10px
    h3
      font-size 22px
      font-weight bold
      .links a
        display block
        float right
  @media (min-width: 800px)
    .project
      margin 0 20px
    .projects
      width 800px
      margin 0 auto

  @media (max-width: 767px)
    .projects
      width 100%
    .project
      margin-bottom 40px
      width 100%
      height auto
      float none
      h3, p
        padding-left 10px
        padding-right 10px

.contact-icons
  margin 0
  text-align center
  width 381px
  margin 0 auto
  li
    display block
    margin 0
    float left
    a
      display block
      font-size 30px
      width 70px
      height 70px
      margin 10px
      line-height 70px
      text-align center
      background-color #666
      border-radius 3px
      -webkit-border-radius 3px
      -moz-border-radius 3px
  &.lesser li a
    font-size 20px
    width 40px
    height 40px
    margin 10px
    line-height 40px
  a
    color #FFF
  a:hover
    background-color #323A40
    color #37AD8E
  span
    display none

footer
  text-align center
  padding 18px 0
  clear both
  p
    margin-bottom 0
    font-size 18px
